
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsonHtml</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <script src="~/template-web.js"></script>
    <script id="s1" type="text/html">
        {{each list as item}}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
            </tr>
        {{/each}}
    </script>
    <script>
        $(function () {
            var data = [{ name: "张三", age: 18 }, { name: "王五", age: 20 }];
            var html = template("s1", { list: data });
            //alert(html);
            $("#t1").append(html);
        });
    </script>
    <script>
        $(function () {
            $("#btn").click(function () {
                $.ajax({
                    url: "/Home/JsonData",
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        alert(data.name+"--"+data.time);
                    },
                    error: function () {
                        alert("error");
                    }
                });
            })
        });

    </script>
</head>
<body>
    <div>
        <button id="btn">按钮</button> 
    </div>
    <table id="t1">

    </table>
</body>
</html>
